@media (max-width: 768px){

body{
    margin: 20px;

}
h1{
    font-size:22pt;
}
h2{
    font-size:20pt;
}
h3{
    font-size:15pt;
}
h4{
    font-size:14pt;
}
h5{
    font-size: 13pt;
}
h6{
    font-size: 11pt;
}
p, a {
    font-size: 10pt;
}
/* header */
header{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}
header h1{
    font-size: 35pt;
}
.header-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 0;
}
.header-content h2{
    text-align: center;
}
.header-content h3{
    text-align: center;
}
.header-content img{
    width: 30px;
}
.banner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}
.banner img{
    width: 100%;
    aspect-ratio: 4 / 3;
    border: none;
}
#purpose{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}
#purpose h4{
    width:100%;
    text-align: center;
}
#purpose p{
    width:100%;
    text-align: center;
}
.style{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    column-gap: 0;
    margin: 40px 20px;
    text-align: center;
}
.colors{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 0;
    margin:20px;
    padding:20px;
}
#primary{
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    padding: 50px;
    margin: 20px;
}
#secondary{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    border-radius: 50%;
    padding: 50px;
}
#accent{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    border-radius: 50%;
    padding: 50px;
}
#links{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
    border-radius: 50%;
    padding: 50px;
}
.font-styles{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 20px;
}
.font-styles h3{
    padding:0;
    margin:0;
}
.fonts{
    display: block;
}
#titles{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}
#titles p{
    text-align: center;
}
#paragraphs{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}
#paragraphs p{
    text-align: center;
}
.paragraph-sample{
    display: flex;
    flex-direction: column;
    margin:0;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.paragraph-sample h4{
    color: #000000;
    text-align:center;
}
.paragraph-sample p{
    max-width: 100%;
    text-align:justify;
}
.desktop{
    margin:0;
    border: none;
}
.menu{
    display: flex;
    flex-direction: row;
    margin:auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 3px;
    margin:0;
    padding:0;
}
.menu h6{
    font-size: 8pt;
}
.menu img{
    width: 15px;
    margin: 0 10px;
    padding:0;
}
.home-img {
    padding:0;
    margin:0;
    object-fit: cover;
}
.home-img img{
    width: 100%;
    margin:0;
    padding:0;
    aspect-ratio: 4 / 2;
    border: none;
}
.sitecontent-desktop{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
    margin:auto;
    padding:20px 10px;
}
.photography{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:0;
    column-gap: 50px;
}
#photography-text{
    width: 100%;
}
#images{
    width: 100%;
    margin:auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#photography-text h4, p{
    text-align: justify;
}
#images img{
    width: 100%;
    aspect-ratio: 2 / 1.5;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    padding:0;
}
.footer{
    display: flex;
    max-width: 100%;
    margin:0;
}
#icons, #copyright, #logo{
    max-width: 33%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    padding:0;
}
#copyright h6{
    text-align: center;
    font-size: 6pt;
}
#icons img{
    width: 20px;
    column-gap: 20px;
}
#icons{
    column-gap: 20px;;
}

#logo img{
    width: 20px;
}

/* mobile */
.mobile{
    max-width: 65%;
    margin:auto;
}
.mobile-menu{
    display: flex;
    flex-direction: row;
    margin:auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 0;
    margin:0;
    padding:0 10px;
}
.mobile-menu img{
    width: 30px;
    margin: 0 20px;
    padding:0;
}
.mobile-home-img {
    padding:0;
    margin:0;
    object-fit: cover;
}
.mobile-home-img img{
    width: 100%;
    margin:0;
    padding:0;
    aspect-ratio: 4 / 3;
}
.sitecontent-mobile{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 10px;
    margin:auto;
    padding:20px 10px;
}
.mobile-photography{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:0;
    padding:20px;
}
#mobile-photography-text{
    max-width: 100%;
    margin:0;
    padding:20px 0;
}
#mobile-images{
    width: 100%;
    margin:auto;
    padding:0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#mobile-photography-text h4, p{
    text-align: justify;

}
#mobile-photography-text p{
    font-size: 10pt;
}
#mobile-images img{
    width: 100%;
    aspect-ratio: 2 / 1.5;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    padding:0;
}
.mobile-footer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding:30px
}
#mobile-icons, #mobile-copyright, #mobile-logo{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    padding:0;
}
#mobile-copyright h6{
    text-align: center;
    font-size: 6pt;
}
#mobile-icons img{
    width: 20px;
    column-gap: 20px;
}
#mobile-icons{
    column-gap: 20px;
}

#mobile-logo img{
    width: 20px;
}
footer{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-top:20px;
    padding:20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer p{
    font-size: 8pt;
    text-align: center;
}
}